@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}


body{
    background: #242831;
    color: #ffffff;
    text-align: center;
}

button:disabled{
    cursor: not-allowed;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-container{
    width:345px;
}

.display{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.orange{
    color: #F79415;
}

.primary-btn{
    width: 160px;
    height: 48px;
    background-color: #F79415;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

.secondary-btn{
    margin: 20px 0 15px;
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.lap-display{
    font-variant-numeric: tabular-nums;
    margin: 10px 0px;
    padding: 0 5px;
    border-radius: 5px;
    width: 100%;
    background-color: #ffffff14;
    height: 50px;
    font-size: 38px;
    color: #ffffff;
}